mixin logo-svg
  svg(class=attributes.class width='147' height='58' viewbox='0 0 147 58' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(d='M14.1298 0.573729V20.4363C14.1298 22.4466 14.4995 26.0357 18.5086 26.0357C22.5133 26.0357 22.883 22.4466 22.883 20.4363V0.573729H37.0128V20.9122C37.0128 34.1213 22.883 34.6461 18.5086 34.6461C14.1298 34.6461 0 34.1213 0 20.9122V0.573729H14.1298ZM82.9347 0.573729V34.0768H114.468V24.5013H97.069V0.573729H82.9347ZM147 24.4079C143.2 25.5109 141.093 25.7022 139.721 25.7022C130.866 25.7022 129.494 20.1517 129.494 17.0384C129.494 12.204 133.449 8.61483 139.458 8.61483C142.3 8.61483 144.835 9.18856 146.893 9.90461V1.05406L146.051 0.91174C144.363 0.622652 141.254 0 137.031 0C120.58 0 114.624 8.70823 114.624 17.3231C114.624 27.4189 122.375 34.6461 136.665 34.6461C139.356 34.6461 142.728 34.357 147 33.3074V24.4079ZM53.1472 12.6665L67.277 18.8752V34.0724H53.1472V12.6665ZM40.7056 0.573729H79.723V10.4783H40.7056V0.573729ZM58.0026 54.3264C57.9358 53.3123 57.4146 52.8631 56.5727 52.8631C55.7486 52.8631 55.1963 53.4146 55.0626 54.3264H58.0026ZM56.6262 58C54.8889 58 53.6372 56.8659 53.6372 55.0068V54.9179C53.6372 53.0944 54.8889 51.8802 56.5683 51.8802C58.0338 51.8802 59.3524 52.7475 59.3524 54.8512V55.247H55.0315C55.076 56.3633 55.6417 56.9904 56.6529 56.9904C57.477 56.9904 57.9046 56.6657 58.0071 56.092H59.3256C59.143 57.324 58.1363 58 56.6262 58ZM50.47 58C48.7773 58 47.4944 56.897 47.4944 55.0157V54.9268C47.4944 53.0588 48.8263 51.8758 50.47 51.8758C51.7796 51.8758 53.0091 52.4628 53.165 54.0817H51.8465C51.7306 53.2945 51.2139 52.9654 50.4923 52.9654C49.5568 52.9654 48.8886 53.6859 48.8886 54.9001V54.989C48.8886 56.2744 49.5212 56.9459 50.5235 56.9459C51.2451 56.9459 51.8643 56.519 51.9445 55.6873H53.1962C53.0937 57.0438 52.0692 58 50.47 58ZM41.4095 51.9959H42.7725V52.9298C43.0532 52.3561 43.708 51.8713 44.6791 51.8713C45.864 51.8713 46.697 52.5607 46.697 54.1796V57.8844H45.3339V54.3041C45.3339 53.4146 44.9731 53.0099 44.1624 53.0099C43.3962 53.0099 42.7725 53.4813 42.7725 54.4198V57.8888H41.4095V51.9959ZM37.1197 58C36.0373 58 35.1464 57.4841 35.1464 56.2566C35.1464 54.8823 36.4783 54.3886 38.171 54.3886H38.906V54.0862C38.906 53.299 38.6343 52.9031 37.8369 52.9031C37.1242 52.9031 36.7767 53.2412 36.7099 53.8282H35.3914C35.5027 52.4539 36.5985 51.8802 37.9171 51.8802C39.2356 51.8802 40.2735 52.4184 40.2735 54.0284V57.8888H38.9327V57.1683C38.5407 57.6709 38.024 58 37.1197 58ZM37.4494 57.0215C38.2824 57.0215 38.906 56.5812 38.906 55.8296V55.2425H38.2066C37.1687 55.2425 36.505 55.4783 36.505 56.1988C36.5005 56.6924 36.7723 57.0215 37.4494 57.0215ZM32.9859 51.9959H34.349V57.8844H32.9859V51.9959ZM33.6496 51.0307C33.1997 51.0307 32.8389 50.6927 32.8389 50.2524C32.8389 49.8032 33.1997 49.4652 33.6496 49.4652C34.0995 49.4652 34.4604 49.8032 34.4604 50.2524C34.4604 50.6927 34.0995 51.0307 33.6496 51.0307ZM30.4112 49.274H31.7743V57.8888H30.4112V49.274ZM27.8498 49.274H29.2129V57.8888H27.8498V49.274ZM22.5355 49.8344H24.5L27.1638 57.8844H25.6092L24.9633 55.8919H21.8852L21.2526 57.8844H19.845L22.5355 49.8344ZM22.2326 54.8022H24.6114L23.4265 51.0619L22.2326 54.8022ZM15.2078 49.274H16.5709V57.8888H15.2078V49.274ZM12.6375 51.9959H14.0006V57.8844H12.6375V51.9959ZM13.3057 51.0307C12.8558 51.0307 12.495 50.6927 12.495 50.2524C12.495 49.8032 12.8558 49.4652 13.3057 49.4652C13.7556 49.4652 14.1165 49.8032 14.1165 50.2524C14.1165 50.6927 13.7556 51.0307 13.3057 51.0307ZM8.34782 58C7.26536 58 6.37445 57.4841 6.37445 56.2566C6.37445 54.8823 7.70636 54.3886 9.39909 54.3886H10.1296V54.0862C10.1296 53.299 9.85791 52.9031 9.05609 52.9031C8.34336 52.9031 7.99591 53.2412 7.92909 53.8282H6.61055C6.72191 52.4539 7.81773 51.8802 9.13627 51.8802C10.4548 51.8802 11.4927 52.4184 11.4927 54.0284V57.8888H10.1519V57.1683C9.76882 57.6709 9.25209 58 8.34782 58ZM8.67745 57.0215C9.51045 57.0215 10.1341 56.5812 10.1341 55.8296V55.2425H9.43473C8.39682 55.2425 7.73309 55.4783 7.73309 56.1988C7.72864 56.6924 8.00036 57.0215 8.67745 57.0215ZM0 49.8344H2.70836C4.48127 49.8344 5.71964 50.5549 5.71964 52.2004V52.2449C5.71964 53.508 4.93118 54.1484 3.92445 54.4064L6.19182 57.8844H4.56591L2.45891 54.6288H1.50118V57.8844H0V49.8344ZM2.70836 53.5614C3.71064 53.5614 4.24073 53.1344 4.24073 52.2761V52.2316C4.24073 51.3109 3.66609 50.9907 2.70836 50.9907H1.50118V53.5569H2.70836V53.5614ZM35.8457 41.4864H37.2088V42.4204C37.4895 41.8466 38.1443 41.3619 39.1154 41.3619C40.3003 41.3619 41.1333 42.0468 41.1333 43.6701V47.3749H39.7657V43.7946C39.7657 42.9051 39.4049 42.5004 38.5942 42.5004C37.828 42.5004 37.2088 42.9719 37.2088 43.9058V47.3749H35.8457V41.4864ZM31.556 47.4905C30.4735 47.4905 29.5826 46.9702 29.5826 45.7471C29.5826 44.3728 30.9145 43.8792 32.6073 43.8792H33.3378V43.5767C33.3378 42.7895 33.0661 42.3937 32.2687 42.3937C31.5605 42.3937 31.2085 42.7317 31.1417 43.3188H29.8232C29.9345 41.9445 31.0304 41.3708 32.3489 41.3708C33.6675 41.3708 34.7054 41.9089 34.7054 43.5189V47.3838H33.3645V46.6633C32.977 47.1614 32.4603 47.4905 31.556 47.4905ZM31.8812 46.5076C32.7186 46.5076 33.3378 46.0673 33.3378 45.3157V44.7286H32.6385C31.6005 44.7286 30.9368 44.9643 30.9368 45.6848C30.9368 46.183 31.2085 46.5076 31.8812 46.5076ZM27.4177 41.4864H28.7808V47.3749H27.4177V41.4864ZM28.0815 40.5213C27.6315 40.5213 27.2707 40.1833 27.2707 39.743C27.2707 39.2938 27.6315 38.9557 28.0815 38.9557C28.5314 38.9557 28.8922 39.2938 28.8922 39.743C28.8966 40.1833 28.5358 40.5213 28.0815 40.5213ZM24.2327 47.4905C22.7093 47.4905 21.8184 46.7923 21.7649 45.5425H23.0523C23.1191 46.1385 23.4265 46.4898 24.2238 46.4898C24.9588 46.4898 25.284 46.2319 25.284 45.7338C25.284 45.249 24.8875 45.0711 24.0189 44.9243C22.4643 44.6753 21.8896 44.2349 21.8896 43.132C21.8896 41.9489 22.9944 41.3663 24.0991 41.3663C25.3063 41.3663 26.264 41.8155 26.411 43.1453H25.1504C25.0345 42.6072 24.7316 42.3581 24.0991 42.3581C23.5111 42.3581 23.1636 42.6383 23.1636 43.0564C23.1636 43.4833 23.4443 43.6523 24.3797 43.8124C25.7695 44.0259 26.5892 44.3639 26.5892 45.6137C26.5936 46.8012 25.7473 47.4905 24.2327 47.4905ZM17.8583 47.4905C16.7758 47.4905 15.8849 46.9702 15.8849 45.7471C15.8849 44.3728 17.2168 43.8792 18.9095 43.8792H19.6445V43.5767C19.6445 42.7895 19.3728 42.3937 18.5755 42.3937C17.8627 42.3937 17.5153 42.7317 17.4485 43.3188H16.1299C16.2413 41.9445 17.3371 41.3708 18.6556 41.3708C19.9742 41.3708 21.0121 41.9089 21.0121 43.5189V47.3838H19.6713V46.6633C19.2748 47.1614 18.7581 47.4905 17.8583 47.4905ZM18.1835 46.5076C19.0165 46.5076 19.6401 46.0673 19.6401 45.3157V44.7286H18.9407C17.9028 44.7286 17.2391 44.9643 17.2391 45.6848C17.2346 46.183 17.5064 46.5076 18.1835 46.5076ZM12.3257 41.4864H13.6933V42.5894C14.063 41.8466 14.6154 41.4063 15.6087 41.3974V42.6694C14.4149 42.6828 13.6933 43.0653 13.6933 44.315V47.3793H12.3257V41.4864ZM7.92018 47.4905C6.75755 47.4905 5.88891 46.8278 5.88891 45.2623V41.4908H7.252V45.1067C7.252 45.9962 7.62618 46.4009 8.41464 46.4009C9.14964 46.4009 9.79109 45.9295 9.79109 44.991V41.4908H11.1542V47.3793H9.79109V46.4543C9.49709 47.028 8.87791 47.4905 7.92018 47.4905ZM0 39.3249H5.04255V40.5079H1.50118V42.7139H4.34318V43.8391H1.50118V46.1919H5.23409V47.3749H0V39.3249Z' fill='#006525')

mixin search-logo-svg 
  svg(class=attributes.class  width='20' height='20' viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(d='M9.14947 16.5279C13.2245 16.5279 16.5279 13.2244 16.5279 9.14938C16.5279 5.07436 13.2245 1.7709 9.14947 1.7709C5.07445 1.7709 1.771 5.07436 1.771 9.14938C1.771 13.2244 5.07445 16.5279 9.14947 16.5279Z' stroke='#181D1D' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
    path(d='M18.2639 18.264L16.5278 16.5279' stroke='#181D1D' stroke-width='1.5' stroke-linecap='square' stroke-linejoin='round')

mixin mail-logo-svg 
  svg(class=attributes.class  width='20' height='20' viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(d='M1.66669 13.75H6.66669' stroke='#181D1D' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='square' stroke-linejoin='round')
    path(d='M1.66669 10.4167H4.16669' stroke='#181D1D' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='square' stroke-linejoin='round')
    path(d='M0.833313 17.0833H17.3333C17.8856 17.0833 18.3333 16.6356 18.3333 16.0833V3.91666C18.3333 3.36437 17.8856 2.91666 17.3333 2.91666H2.66665C2.11436 2.91666 1.66665 3.36437 1.66665 3.91666V7.49999' stroke='#181D1D' stroke-width='1.5')
    path(d='M5 6.45834L10 9.79168L15 6.45834' stroke='#181D1D' stroke-width='1.5')

mixin arrow-svg 
  svg(class=attributes.class  xmlns='http://www.w3.org/2000/svg' width='12' height='7' viewbox='0 0 12 7' fill='none')
    path(d='M1.5 0.75L6 5.25L10.5 0.75' stroke='#181D1D' stroke-width='1.5')


mixin footer-logo-svg 
  svg(class=attributes.class  xmlns='http://www.w3.org/2000/svg' width='147' height='58' viewbox='0 0 147 58' fill='none')
    path(opacity='0.3' d='M14.1298 0.573729V20.4363C14.1298 22.4466 14.4995 26.0357 18.5086 26.0357C22.5133 26.0357 22.883 22.4466 22.883 20.4363V0.573729H37.0128V20.9122C37.0128 34.1213 22.883 34.6461 18.5086 34.6461C14.1298 34.6461 0 34.1213 0 20.9122V0.573729H14.1298ZM82.9347 0.573729V34.0768H114.468V24.5013H97.069V0.573729H82.9347ZM147 24.4079C143.2 25.5109 141.093 25.7022 139.721 25.7022C130.866 25.7022 129.494 20.1517 129.494 17.0384C129.494 12.204 133.449 8.61483 139.458 8.61483C142.3 8.61483 144.835 9.18856 146.893 9.90461V1.05406L146.051 0.91174C144.363 0.622652 141.254 0 137.031 0C120.58 0 114.624 8.70823 114.624 17.3231C114.624 27.4189 122.375 34.6461 136.665 34.6461C139.356 34.6461 142.728 34.357 147 33.3074V24.4079ZM53.1472 12.6665L67.277 18.8752V34.0724H53.1472V12.6665ZM40.7056 0.573729H79.723V10.4783H40.7056V0.573729ZM58.0026 54.3264C57.9358 53.3123 57.4146 52.8631 56.5727 52.8631C55.7486 52.8631 55.1963 53.4146 55.0626 54.3264H58.0026ZM56.6262 58C54.8889 58 53.6372 56.8659 53.6372 55.0068V54.9179C53.6372 53.0944 54.8889 51.8802 56.5683 51.8802C58.0338 51.8802 59.3524 52.7475 59.3524 54.8512V55.247H55.0315C55.076 56.3633 55.6417 56.9904 56.6529 56.9904C57.477 56.9904 57.9046 56.6657 58.0071 56.092H59.3256C59.143 57.324 58.1363 58 56.6262 58ZM50.47 58C48.7773 58 47.4944 56.897 47.4944 55.0157V54.9268C47.4944 53.0588 48.8263 51.8758 50.47 51.8758C51.7796 51.8758 53.0091 52.4628 53.165 54.0817H51.8465C51.7306 53.2945 51.2139 52.9654 50.4923 52.9654C49.5568 52.9654 48.8886 53.6859 48.8886 54.9001V54.989C48.8886 56.2744 49.5212 56.9459 50.5235 56.9459C51.2451 56.9459 51.8643 56.519 51.9445 55.6873H53.1962C53.0937 57.0438 52.0692 58 50.47 58ZM41.4095 51.9959H42.7725V52.9298C43.0532 52.3561 43.708 51.8713 44.6791 51.8713C45.864 51.8713 46.697 52.5607 46.697 54.1796V57.8844H45.3339V54.3041C45.3339 53.4146 44.9731 53.0099 44.1624 53.0099C43.3962 53.0099 42.7725 53.4813 42.7725 54.4198V57.8888H41.4095V51.9959ZM37.1197 58C36.0373 58 35.1464 57.4841 35.1464 56.2566C35.1464 54.8823 36.4783 54.3886 38.171 54.3886H38.906V54.0862C38.906 53.299 38.6343 52.9031 37.8369 52.9031C37.1242 52.9031 36.7767 53.2412 36.7099 53.8282H35.3914C35.5027 52.4539 36.5985 51.8802 37.9171 51.8802C39.2356 51.8802 40.2735 52.4184 40.2735 54.0284V57.8888H38.9327V57.1683C38.5407 57.6709 38.024 58 37.1197 58ZM37.4494 57.0215C38.2824 57.0215 38.906 56.5812 38.906 55.8296V55.2425H38.2066C37.1687 55.2425 36.505 55.4783 36.505 56.1988C36.5005 56.6924 36.7723 57.0215 37.4494 57.0215ZM32.9859 51.9959H34.349V57.8844H32.9859V51.9959ZM33.6496 51.0307C33.1997 51.0307 32.8389 50.6927 32.8389 50.2524C32.8389 49.8032 33.1997 49.4652 33.6496 49.4652C34.0995 49.4652 34.4604 49.8032 34.4604 50.2524C34.4604 50.6927 34.0995 51.0307 33.6496 51.0307ZM30.4112 49.274H31.7743V57.8888H30.4112V49.274ZM27.8498 49.274H29.2129V57.8888H27.8498V49.274ZM22.5355 49.8344H24.5L27.1638 57.8844H25.6092L24.9633 55.8919H21.8852L21.2526 57.8844H19.845L22.5355 49.8344ZM22.2326 54.8022H24.6114L23.4265 51.0619L22.2326 54.8022ZM15.2078 49.274H16.5709V57.8888H15.2078V49.274ZM12.6375 51.9959H14.0006V57.8844H12.6375V51.9959ZM13.3057 51.0307C12.8558 51.0307 12.495 50.6927 12.495 50.2524C12.495 49.8032 12.8558 49.4652 13.3057 49.4652C13.7556 49.4652 14.1165 49.8032 14.1165 50.2524C14.1165 50.6927 13.7556 51.0307 13.3057 51.0307ZM8.34782 58C7.26536 58 6.37445 57.4841 6.37445 56.2566C6.37445 54.8823 7.70636 54.3886 9.39909 54.3886H10.1296V54.0862C10.1296 53.299 9.85791 52.9031 9.05609 52.9031C8.34336 52.9031 7.99591 53.2412 7.92909 53.8282H6.61055C6.72191 52.4539 7.81773 51.8802 9.13627 51.8802C10.4548 51.8802 11.4927 52.4184 11.4927 54.0284V57.8888H10.1519V57.1683C9.76882 57.6709 9.25209 58 8.34782 58ZM8.67745 57.0215C9.51045 57.0215 10.1341 56.5812 10.1341 55.8296V55.2425H9.43473C8.39682 55.2425 7.73309 55.4783 7.73309 56.1988C7.72864 56.6924 8.00036 57.0215 8.67745 57.0215ZM0 49.8344H2.70836C4.48127 49.8344 5.71964 50.5549 5.71964 52.2004V52.2449C5.71964 53.508 4.93118 54.1484 3.92445 54.4064L6.19182 57.8844H4.56591L2.45891 54.6288H1.50118V57.8844H0V49.8344ZM2.70836 53.5614C3.71064 53.5614 4.24073 53.1344 4.24073 52.2761V52.2316C4.24073 51.3109 3.66609 50.9907 2.70836 50.9907H1.50118V53.5569H2.70836V53.5614ZM35.8457 41.4864H37.2088V42.4204C37.4895 41.8466 38.1443 41.3619 39.1154 41.3619C40.3003 41.3619 41.1333 42.0468 41.1333 43.6701V47.3749H39.7657V43.7946C39.7657 42.9051 39.4049 42.5004 38.5942 42.5004C37.828 42.5004 37.2088 42.9719 37.2088 43.9058V47.3749H35.8457V41.4864ZM31.556 47.4905C30.4735 47.4905 29.5826 46.9702 29.5826 45.7471C29.5826 44.3728 30.9145 43.8792 32.6073 43.8792H33.3378V43.5767C33.3378 42.7895 33.0661 42.3937 32.2687 42.3937C31.5605 42.3937 31.2085 42.7317 31.1417 43.3188H29.8232C29.9345 41.9445 31.0304 41.3708 32.3489 41.3708C33.6675 41.3708 34.7054 41.9089 34.7054 43.5189V47.3838H33.3645V46.6633C32.977 47.1614 32.4603 47.4905 31.556 47.4905ZM31.8812 46.5076C32.7186 46.5076 33.3378 46.0673 33.3378 45.3157V44.7286H32.6385C31.6005 44.7286 30.9368 44.9643 30.9368 45.6848C30.9368 46.183 31.2085 46.5076 31.8812 46.5076ZM27.4177 41.4864H28.7808V47.3749H27.4177V41.4864ZM28.0815 40.5213C27.6315 40.5213 27.2707 40.1833 27.2707 39.743C27.2707 39.2938 27.6315 38.9557 28.0815 38.9557C28.5314 38.9557 28.8922 39.2938 28.8922 39.743C28.8966 40.1833 28.5358 40.5213 28.0815 40.5213ZM24.2327 47.4905C22.7093 47.4905 21.8184 46.7923 21.7649 45.5425H23.0523C23.1191 46.1385 23.4265 46.4898 24.2238 46.4898C24.9588 46.4898 25.284 46.2319 25.284 45.7338C25.284 45.249 24.8875 45.0711 24.0189 44.9243C22.4643 44.6753 21.8896 44.2349 21.8896 43.132C21.8896 41.9489 22.9944 41.3663 24.0991 41.3663C25.3063 41.3663 26.264 41.8155 26.411 43.1453H25.1504C25.0345 42.6072 24.7316 42.3581 24.0991 42.3581C23.5111 42.3581 23.1636 42.6383 23.1636 43.0564C23.1636 43.4833 23.4443 43.6523 24.3797 43.8124C25.7695 44.0259 26.5892 44.3639 26.5892 45.6137C26.5936 46.8012 25.7473 47.4905 24.2327 47.4905ZM17.8583 47.4905C16.7758 47.4905 15.8849 46.9702 15.8849 45.7471C15.8849 44.3728 17.2168 43.8792 18.9095 43.8792H19.6445V43.5767C19.6445 42.7895 19.3728 42.3937 18.5755 42.3937C17.8627 42.3937 17.5153 42.7317 17.4485 43.3188H16.1299C16.2413 41.9445 17.3371 41.3708 18.6556 41.3708C19.9742 41.3708 21.0121 41.9089 21.0121 43.5189V47.3838H19.6713V46.6633C19.2748 47.1614 18.7581 47.4905 17.8583 47.4905ZM18.1835 46.5076C19.0165 46.5076 19.6401 46.0673 19.6401 45.3157V44.7286H18.9407C17.9028 44.7286 17.2391 44.9643 17.2391 45.6848C17.2346 46.183 17.5064 46.5076 18.1835 46.5076ZM12.3257 41.4864H13.6933V42.5894C14.063 41.8466 14.6154 41.4063 15.6087 41.3974V42.6694C14.4149 42.6828 13.6933 43.0653 13.6933 44.315V47.3793H12.3257V41.4864ZM7.92018 47.4905C6.75755 47.4905 5.88891 46.8278 5.88891 45.2623V41.4908H7.252V45.1067C7.252 45.9962 7.62618 46.4009 8.41464 46.4009C9.14964 46.4009 9.79109 45.9295 9.79109 44.991V41.4908H11.1542V47.3793H9.79109V46.4543C9.49709 47.028 8.87791 47.4905 7.92018 47.4905ZM0 39.3249H5.04255V40.5079H1.50118V42.7139H4.34318V43.8391H1.50118V46.1919H5.23409V47.3749H0V39.3249Z' fill='white')


mixin zig-zag-logo-svg 
  svg(class=attributes.class  xmlns='http://www.w3.org/2000/svg' width='44' height='44' viewbox='0 0 44 44' fill='none')
    path(d='M6 6.4722H29.5555C33.7284 6.4722 37.1111 9.85493 37.1111 14.0278V14.0278C37.1111 18.2006 33.7284 21.5833 29.5556 21.5833H25.1111M6 6.4722L9.11111 3.36108M6 6.4722L9.11111 9.58331M38 36.6944H6.88889V21.5833H18.8889M38 36.6944L33.5556 32.25M38 36.6944L33.5556 41.1389' stroke='white' stroke-width='1.5')
    circle(cx='21.9999' cy='21.5833' r='2.80556' stroke='white' stroke-width='1.5')

mixin footer-arrow-svg
  svg(class=attributes.class  xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='none')
    path(d='M7.5 21L16.5 12L7.5 3' stroke='white' stroke-width='1.5')

mixin footer-map-svg 
  svg(class.attributes.class xmlns='http://www.w3.org/2000/svg' width='44' height='44' viewbox='0 0 44 44' fill='none')
    path(d='M40.3333 16.5V27.5C40.3333 32.0833 39.4166 35.2917 37.3633 37.3633L25.6666 25.6667L39.8383 11.495C40.1683 12.9433 40.3333 14.5933 40.3333 16.5Z' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
    path(d='M39.8383 11.495L11.4949 39.8383C5.97661 38.5733 3.66663 34.76 3.66663 27.5V16.5C3.66663 7.33335 7.33329 3.66669 16.5 3.66669H27.5C34.76 3.66669 38.5733 5.97669 39.8383 11.495Z' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
    path(d='M37.3634 37.3634C35.2917 39.4167 32.0833 40.3334 27.5 40.3334H16.5C14.5933 40.3334 12.9433 40.1683 11.495 39.8383L25.6667 25.6667L37.3634 37.3634Z' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
    path(d='M11.44 14.63C12.6867 9.25834 20.7533 9.25834 22 14.63C22.715 17.7833 20.735 20.46 18.9933 22.11C17.7283 23.32 15.73 23.32 14.4467 22.11C12.705 20.46 10.7067 17.7833 11.44 14.63Z' stroke='white' stroke-width='1.5')
    path(d='M16.6734 15.95H16.6899' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')


mixin search-status-svg 
  svg(xmlns='http://www.w3.org/2000/svg' width='44' height='44' viewbox='0 0 44 44' fill='none')
    path(d='M25.6666 9.16669H36.6666' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
    path(d='M25.6666 14.6667H31.1666' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
    path(d='M38.5 21.0834C38.5 30.7084 30.7083 38.5 21.0833 38.5C11.4583 38.5 3.66663 30.7084 3.66663 21.0834C3.66663 11.4584 11.4583 3.66669 21.0833 3.66669' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
    path(d='M40.3333 40.3334L36.6666 36.6667' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')


mixin footer-tg-svg 
  svg(xmlns='http://www.w3.org/2000/svg' width='60' height='60' viewbox='0 0 60 60' fill='none')
    rect(opacity='0.1' x='-0.75' y='0.75' width='58.5' height='58.5' transform='matrix(-1 0 0 1 58.5 0)' stroke='white' stroke-width='1.5')
    path(d='M21.2261 28.4036L33.1395 23.3577C34.3155 22.832 38.3036 21.1501 38.3036 21.1501C38.3036 21.1501 40.1443 20.4142 39.9909 22.2013C39.9398 22.9372 39.5307 25.5127 39.1217 28.2984L37.8435 36.5506C37.8435 36.5506 37.7412 37.7595 36.872 37.9697C36.0028 38.18 34.5711 37.2339 34.3155 37.0236C34.111 36.8659 30.4807 34.5007 29.1513 33.3443C28.7934 33.029 28.3844 32.3982 29.2025 31.6624C31.0431 29.9278 33.2417 27.7728 34.5711 26.4062C35.1847 25.7755 35.7982 24.3038 33.2417 26.0909L26.0324 31.0842C26.0324 31.0842 25.2143 31.6098 23.6804 31.1367C22.1465 30.6637 20.3569 30.033 20.3569 30.033C20.3569 30.033 19.1298 29.2445 21.2261 28.4036Z' fill='white')


mixin footer-dzen-link 
  <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60" fill="none">
    <rect opacity="0.1" x="-0.75" y="0.75" width="58.5" height="58.5" transform="matrix(-1 0 0 1 58.5 0)" stroke="white" stroke-width="1.5"/>
    <g clip-path="url(#clip0_3422_53315)">
    <path d="M32.1214 32.1214C30.3929 33.905 30.2671 36.1286 30.1179 41C34.6593 41 37.7943 40.9843 39.4129 39.4129C40.9843 37.7943 41 34.51 41 30.1179C36.1286 30.275 33.905 30.3929 32.1214 32.1214ZM19 30.1179C19 34.51 19.0157 37.7943 20.5871 39.4129C22.2057 40.9843 25.3407 41 29.8821 41C29.725 36.1286 29.6071 33.905 27.8786 32.1214C26.095 30.3929 23.8714 30.2671 19 30.1179ZM29.8821 19C25.3486 19 22.2057 19.0157 20.5871 20.5871C19.0157 22.2057 19 25.49 19 29.8821C23.8714 29.725 26.095 29.6071 27.8786 27.8786C29.6071 26.095 29.7329 23.8714 29.8821 19ZM32.1214 27.8786C30.3929 26.095 30.2671 23.8714 30.1179 19C34.6593 19 37.7943 19.0157 39.4129 20.5871C40.9843 22.2057 41 25.49 41 29.8821C36.1286 29.725 33.905 29.6071 32.1214 27.8786Z" fill="white"/>
    </g>
    <defs>
    <clipPath id="clip0_3422_53315">
    <rect width="22" height="22" fill="white" transform="translate(19 19)"/>
    </clipPath>
    </defs>
    </svg>

mixin footer-chat-link 
  svg(xmlns='http://www.w3.org/2000/svg' width='60' height='60' viewbox='0 0 60 60' fill='none')
    rect(opacity='0.1' x='-0.75' y='0.75' width='58.5' height='58.5' transform='matrix(-1 0 0 1 58.5 0)' stroke='white' stroke-width='1.5')
    path(d='M35.759 25.6557C33.2522 25.7862 31.0733 26.5464 29.3032 28.2632C27.5144 29.9973 26.6982 32.1227 26.9218 34.7575C25.9417 34.6358 25.0498 34.5028 24.1529 34.4271C23.8424 34.401 23.4747 34.4382 23.2125 34.5861C22.3417 35.078 21.5057 35.6333 20.5157 36.2519C20.697 35.4295 20.8151 34.7103 21.0237 34.0184C21.1765 33.5091 21.1057 33.2271 20.6374 32.8954C17.6288 30.7712 16.3604 27.5924 17.3095 24.3191C18.1865 21.2918 20.343 19.4546 23.2734 18.498C27.2734 17.1912 31.7677 18.5241 34.2 21.6993C35.077 22.8458 35.6161 24.134 35.759 25.6557ZM24.2225 24.6359C24.2461 24.0371 23.7268 23.498 23.1107 23.4794C22.4796 23.4607 21.9616 23.9427 21.943 24.5651C21.9244 25.1949 22.4063 25.7005 23.0411 25.7166C23.6709 25.7328 24.1989 25.2495 24.2225 24.6359ZM30.241 23.4794C29.6224 23.4905 29.1007 24.0172 29.1106 24.6185C29.1218 25.2408 29.6348 25.729 30.2709 25.7216C30.9081 25.7141 31.3926 25.221 31.3864 24.5849C31.3814 23.9613 30.8708 23.4682 30.241 23.4794Z' fill='white')
    path(d='M41.39 41.2816C40.5962 40.9288 39.8683 40.3984 39.0931 40.3177C38.3205 40.2369 37.5093 40.6829 36.7019 40.7649C34.241 41.017 32.0361 40.3313 30.2187 38.6494C26.7616 35.4519 27.256 30.5488 31.2547 27.9277C34.81 25.5986 40.0236 26.3749 42.5291 29.6072C44.7167 32.4271 44.4595 36.1699 41.7888 38.5388C41.0161 39.2245 40.7378 39.7885 41.2335 40.6928C41.3267 40.8605 41.3366 41.0717 41.39 41.2816ZM32.3553 32.5351C32.8609 32.5351 33.277 32.1401 33.2957 31.6407C33.3156 31.1128 32.8907 30.6693 32.3615 30.6668C31.8373 30.6643 31.3988 31.114 31.4174 31.6345C31.4348 32.1326 31.8535 32.5339 32.3553 32.5351ZM38.1789 30.6693C37.6882 30.6656 37.272 31.0668 37.2522 31.5625C37.231 32.0917 37.6422 32.5277 38.1664 32.5289C38.6733 32.5302 39.0745 32.1476 39.0919 31.6432C39.113 31.1115 38.7006 30.673 38.1789 30.6693Z' fill='white')

mixin card-arrow-svg 
  svg(class=attributes.class xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewbox='0 0 28 28' fill='none')
    rect(width='28' height='28' rx='14' fill='#E6E6E6')
    path(d='M12.75 18.5L17.25 14L12.75 9.5' stroke='#181D1D' stroke-width='1.5')


mixin card-animate-logo-svg 
  svg(xmlns='http://www.w3.org/2000/svg' width='165' height='280' viewbox='0 0 165 280' fill='none')
    path(d='M165 71.1972L0 0.865234V279.865H165V71.1972Z' fill='url(#paint0_linear_1039_3966)')
    defs
      lineargradient#paint0_linear_1039_3966(x1='82.5' y1='0.865234' x2='82.5' y2='279.865' gradientunits='userSpaceOnUse')
        stop(stop-color='#C9ECDB' stop-opacity='0.15')
        stop(offset='1' stop-color='#C0EACF' stop-opacity='0')
mixin phone-call-svg 
  svg(xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewbox='0 0 16 16' fill='none')
    path(d='M0.974621 5.06131L4.06073 1.9752L7.04488 4.95935L5.92193 6.0823L5.69202 6.31221L5.80892 6.61561L6.27549 6.43585C5.80892 6.61561 5.80894 6.61568 5.80897 6.61576L5.80904 6.61593L5.8092 6.61636L5.80966 6.61755L5.81109 6.62122L5.81598 6.63363L5.83367 6.67759C5.84892 6.71497 5.87104 6.76804 5.89949 6.83332C5.95625 6.96358 6.03885 7.14392 6.14297 7.34597C6.34595 7.73983 6.65118 8.2569 7.02931 8.63504C7.40744 9.01317 7.92452 9.31839 8.31838 9.52137C8.52042 9.6255 8.70077 9.7081 8.83103 9.76486C8.8963 9.79331 8.94938 9.81542 8.98676 9.83067L9.03072 9.84837L9.04313 9.85325L9.0468 9.85468L9.04799 9.85514L9.04842 9.85531L9.04859 9.85538C9.04866 9.8554 9.04873 9.85543 9.22849 9.38886L9.04873 9.85543L9.35214 9.97233L9.58205 9.74242L10.705 8.61947L13.6892 11.6036L10.6078 14.685C10.5039 14.6314 10.3773 14.5655 10.2318 14.4884C9.79973 14.2595 9.2026 13.9334 8.54293 13.5445C7.21212 12.7599 5.66908 11.7445 4.69759 10.773C3.72754 9.80293 2.7608 8.30968 2.02589 7.02952C1.66157 6.39488 1.35986 5.8227 1.14936 5.40937C1.08114 5.27544 1.02257 5.15831 0.974621 5.06131Z' stroke='#181D1D')
    path(d='M12.9197 7.17432V2.7448H8.49016' stroke='#181D1D')


mixin close-modal-btn 
  svg(xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewbox='0 0 40 40' fill='none')
    path(d='M12.9287 12.9287L27.0708 27.0708' stroke='white' stroke-width='1.5' stroke-linecap='square' stroke-linejoin='round')
    path(d='M12.9292 27.0708L27.0713 12.9287' stroke='white' stroke-width='1.5' stroke-linecap='square' stroke-linejoin='round')

mixin checkbox-mark 
  svg(xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewbox='0 0 20 20' fill='none')
    path(d='M3 9L8 14L17 5' stroke='white' stroke-width='1.5')

mixin file-card-svg 
  svg(class=attributes.class xmlns='http://www.w3.org/2000/svg' width='36' height='45' viewbox='0 0 36 45' fill='none')
    path(d='M35.25 28.9275L35.25 0.750005L0.749996 0.750008L0.75 43.8582L35.25 28.9275Z' stroke='#006525' stroke-width='1.5')

mixin arrow-top-svg   
  svg(class=attributes.class xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewbox='0 0 28 28' fill='none')
    path(d='M3.5 19.25L14 8.75L24.5 19.25' stroke='#E3E3E3' stroke-width='1.5')


mixin ul-mark-svg 
  svg(xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewbox='0 0 20 20' fill='none')
    path(d='M3 9L8 14L17 5' stroke='#006525' stroke-width='1.5')


mixin add-svg 
  svg(class=attributes.class xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewbox='0 0 20 20' fill='none')
    path(d='M4 10H16' stroke='white' stroke-width='1.5' stroke-linecap='square' stroke-linejoin='round')
    path(d='M10 16V4' stroke='white' stroke-width='1.5' stroke-linecap='square' stroke-linejoin='round')

mixin slider-arrow-svg 
  svg(class=attributes.class xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewbox='0 0 20 20' fill='none')
    path(d='M13.75 17.5L6.25 10L13.75 2.5' stroke='#181D1D' stroke-width='1.5')


mixin train-svg 
  svg(class=attributes.class xmlns='http://www.w3.org/2000/svg' width='31' height='31' viewbox='0 0 31 31' fill='none')
    rect(x='6.27954' y='4.03638' width='18.4409' height='18.4409' rx='2.5' stroke='white')
    rect(x='9.27045' y='7.02734' width='12.4591' height='7.97273' stroke='white')
    circle(cx='10.6398' cy='18.8648' r='1.36932' stroke='white')
    circle(cx='20.3602' cy='18.8648' r='1.36932' stroke='white')
    line(x1='10.6195' y1='24.0785' x2='7.62857' y2='27.0694' stroke='white')
    line(y1='-0.5' x2='4.22978' y2='-0.5' transform='matrix(0.707107 0.707107 0.707107 -0.707107 20.7341 23.725)' stroke='white')


mixin boat-svg 
  svg(class=attributes.class xmlns='http://www.w3.org/2000/svg' width='32' height='21' viewbox='0 0 32 21' fill='none')
    path(d='M3.55217 19.7768L1.5 14.9029H18.9435L22.2783 11.5681H31L27.6652 19.7768H3.55217Z' stroke='#006525')
    line(x1='24.587' y1='13.377' x2='28.1783' y2='13.377' stroke='#006525')
    path(d='M13.8134 12.5942V7.46375H20.996V9.2594L17.6612 12.5942H13.8134Z' stroke='#006525')
    path(d='M8.16937 12.5942V7.46375H12.0172V12.5942H8.16937Z' stroke='#006525')
    path(d='M2.52625 12.5942V7.46375H6.37407V12.5942H2.52625Z' stroke='#006525')
    path(d='M8.16937 5.7536V0.623169H12.0172V5.7536H8.16937Z' stroke='#006525')
    path(d='M13.8134 5.7536V0.623169H17.6612V5.7536H13.8134Z' stroke='#006525')
    path(d='M2.52625 5.7536V0.623169H6.37407V5.7536H2.52625Z' stroke='#006525')

mixin trailer-svg 
  svg(class=attributes.class xmlns='http://www.w3.org/2000/svg' width='33' height='19' viewbox='0 0 33 19' fill='none')
    path(d='M8.88989 1.17798H32.5001V8.42376C32.5001 10.3568 30.9331 11.9238 29.0001 11.9238H8.88989V1.17798Z' stroke='#006525')
    path(d='M2.79661 15.2796C1.69995 15.2796 0.782815 14.511 0.554584 13.483H30.8221V15.2796H2.79661Z' stroke='#006525')
    path(d='M2.27149 5.26629C2.74033 4.79745 3.37621 4.53406 4.03925 4.53406H7.33052V11.9239H0.5V8.07331C0.5 7.41027 0.763392 6.77439 1.23223 6.30554L2.27149 5.26629Z' stroke='#006525')
    circle(cx='4.19499' cy='16.0593' r='1.45763' fill='white' stroke='#006525')
    circle(cx='28.2456' cy='16.0593' r='1.45763' fill='white' stroke='#006525')
    circle(cx='24.3304' cy='16.0593' r='1.45763' fill='white' stroke='#006525')
    circle(cx='20.4153' cy='16.0593' r='1.45763' fill='white' stroke='#006525')

mixin plane-svg 
  svg(class=attributes.class xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewbox='0 0 30 30' fill='none')
    g(clip-path='url(#clip0_1088_3846)')
      path(d='M6.05014 11.2831L13.5753 15.1455L10.509 18.2118L8.07806 18.0444L7.85104 18.0287L7.69014 18.1896L6.4527 19.4271L5.86898 20.0108L6.65669 20.2577L9.29131 21.0836L10.1172 23.7183L10.3642 24.506L10.9479 23.9222L12.1853 22.6848L12.3272 22.5429L12.3316 22.3423L12.3809 20.1217L15.4602 17.0424L19.0893 24.3196L19.3992 24.9411L19.8903 24.4501L21.1277 23.2126L21.3218 23.0185L21.2622 22.7506L19.3413 14.1083L23.9031 9.54651C24.7521 8.69747 24.7521 7.3209 23.9031 6.47186C23.054 5.62282 21.6775 5.62282 20.8284 6.47186L16.2666 11.0337L7.62438 9.11272L7.35643 9.05316L7.16234 9.24726L5.9249 10.4847L5.43979 10.9698L6.05014 11.2831Z' stroke='#006525')
    defs
      clippath#clip0_1088_3846
        rect(width='30' height='30' fill='white')


mixin site-link 
  svg(class=attributes.class xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='none')
    path(fill-rule='evenodd' clip-rule='evenodd' d='M11.4441 9.22313L10.3341 8.11313L12.5541 5.89313C14.0867 4.36054 16.5715 4.36054 18.1041 5.89313C19.6367 7.42572 19.6367 9.91054 18.1041 11.4431L15.8841 13.6631L14.7741 12.5531L16.9941 10.3331C17.9137 9.41358 17.9137 7.92269 16.9941 7.00313C16.0746 6.08358 14.5837 6.08358 13.6641 7.00313L11.4441 9.22313ZM12.5541 14.7731L13.6641 15.8831L11.4441 18.1031C9.91155 19.6357 7.42673 19.6357 5.89414 18.1031C4.36155 16.5705 4.36155 14.0857 5.89414 12.5531L8.11414 10.3331L9.22414 11.4431L7.00414 13.6631C6.08459 14.5827 6.08459 16.0736 7.00414 16.9931C7.9237 17.9127 9.41459 17.9127 10.3341 16.9931L12.5541 14.7731ZM8.66913 14.2181L9.77913 15.3281L15.3291 9.77813L14.2191 8.66813L8.66913 14.2181Z' fill='#02343B')


mixin accept-svg 
  svg(xmlns='http://www.w3.org/2000/svg' width='27' height='27' viewbox='0 0 27 27' fill='none')
    rect(width='27' height='27' rx='8' fill='#53EE8C')
    path(d='M21.3337 12.7501V9.25008C21.3337 6.33341 20.167 5.16675 17.2503 5.16675H13.7503C10.8337 5.16675 9.66699 6.33341 9.66699 9.25008V10.1667H12.2503C15.167 10.1667 16.3337 11.3334 16.3337 14.2501V16.8334H17.2503C20.167 16.8334 21.3337 15.6667 21.3337 12.7501Z' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
    path(d='M16.3337 17.7501V14.2501C16.3337 11.3334 15.167 10.1667 12.2503 10.1667H8.75033C5.83366 10.1667 4.66699 11.3334 4.66699 14.2501V17.7501C4.66699 20.6667 5.83366 21.8334 8.75033 21.8334H12.2503C15.167 21.8334 16.3337 20.6667 16.3337 17.7501Z' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
    path(d='M8.06641 16L9.69141 17.625L12.9331 14.375' stroke='white' stroke-width='1.5' stroke-linecap='square' stroke-linejoin='round')

mixin tooltip-svg 
  svg(xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewbox='0 0 16 16' fill='none')
    circle(cx='8' cy='8' r='8' fill='#E1E1E1')
    path(d='M7.244 9.8495C7.244 9.5855 7.26417 9.338 7.3045 9.107C7.3485 8.876 7.42917 8.656 7.5465 8.447C7.6455 8.249 7.761 8.0895 7.893 7.9685C8.02867 7.84383 8.17533 7.72283 8.333 7.6055C8.49433 7.4845 8.663 7.3305 8.839 7.1435C8.98567 6.98217 9.08283 6.819 9.1305 6.654C9.18183 6.489 9.2075 6.31117 9.2075 6.1205C9.2075 5.98117 9.191 5.851 9.158 5.73C9.125 5.609 9.07 5.5045 8.993 5.4165C8.87567 5.26983 8.72717 5.16717 8.5475 5.1085C8.36783 5.04617 8.18083 5.015 7.9865 5.015C7.8105 5.015 7.64183 5.03883 7.4805 5.0865C7.32283 5.13417 7.19083 5.2075 7.0845 5.3065C6.97083 5.40183 6.8865 5.521 6.8315 5.664C6.78017 5.80333 6.75633 5.9555 6.76 6.1205H5.55C5.57933 5.77583 5.66733 5.45317 5.814 5.1525C5.96067 4.85183 6.15867 4.608 6.408 4.421C6.62067 4.25233 6.86267 4.12767 7.134 4.047C7.40533 3.96267 7.67667 3.9205 7.948 3.9205C8.33667 3.9205 8.70333 3.981 9.048 4.102C9.39633 4.223 9.686 4.41917 9.917 4.6905C10.0857 4.88117 10.2122 5.09933 10.2965 5.345C10.3845 5.587 10.4285 5.83817 10.4285 6.0985C10.4285 6.44683 10.3533 6.7695 10.203 7.0665C10.0563 7.3635 9.8675 7.63483 9.6365 7.8805C9.5155 8.00883 9.39267 8.12617 9.268 8.2325C9.14333 8.33517 9.02783 8.436 8.9215 8.535C8.81517 8.634 8.72717 8.74217 8.6575 8.8595C8.5585 9.02817 8.50167 9.18033 8.487 9.316C8.47233 9.448 8.465 9.62583 8.465 9.8495H7.244ZM7.2495 12V10.669H8.465V12H7.2495Z' fill='#181D1D')


mixin dvigatel-svg 
  svg(width='74' height='63' viewbox='0 0 74 63' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(d='M60 20.8652H66.5V17.3652H71L73 23.8652V41.8652L71 48.3652H66.5V44.8652H60.5' stroke='#006525' stroke-width='1.8')
    path(d='M53.5 49.3652V61.8652H30L23.5 49.3652H8V16.8652H17.5V8.36517H53.5V16.8652H60V49.3652H53.5ZM53.5 49.3652H37' stroke='#181D1D' stroke-width='1.8')
    path(d='M29 1.86517H41M29 1.86517V7.86517M29 1.86517H19M41 1.86517V7.86517M41 1.86517H51.5' stroke='#181D1D' stroke-width='1.8')
    path(d='M1 39.3652L0.999999 27.3652M1 39.3652L8 39.3652M1 39.3652L1 49.3652M0.999999 27.3652L8 27.3652M0.999999 27.3652L0.999999 16.8652' stroke='#181D1D' stroke-width='1.8')
    circle(cx='18' cy='31.8652' r='3.1' stroke='#006525' stroke-width='1.8')
    circle(cx='35' cy='31.8652' r='3.1' stroke='#006525' stroke-width='1.8')
    circle(cx='50' cy='31.8652' r='3.1' stroke='#006525' stroke-width='1.8')

mixin card-logo-svg 
  svg(width='128' height='217' viewbox='0 0 128 217' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(d='M128 55.5678L0 0.865173V217.865H128V55.5678Z' fill='url(#paint0_linear_1129_11795)')
    defs
      lineargradient#paint0_linear_1129_11795(x1='64' y1='0.865173' x2='64' y2='217.865' gradientunits='userSpaceOnUse')
        stop(stop-color='#C9ECDB')
        stop(offset='1' stop-color='#C0EACF' stop-opacity='0')

//background-image: url("data:image/svg+xml,svg(width='128' height='217' viewbox='0 0 128 217' fill='none' xmlns='http://www.w3.org/2000/svg') path(d='M128 55.5678L0 0.865173V217.865H128V55.5678Z' fill='url(%23paint0_linear_1129_11795)') defs lineargradient%23paint0_linear_1129_11795(x1='64' y1='0.865173' x2='64' y2='217.865' gradientunits='userSpaceOnUse') stop(stop-color='%23C9ECDB') stop(offset='1' stop-color='%23C0EACF' stop-opacity='0')%0A");